services:
  container:
    build:
      context: ..
      dockerfile: Dockerfile
    container_name: lemon_webapp
    ports:
      - "2222:22"
    volumes:
      - /home/user/data/PCAP-Dateien:/var/logs/.journal
      - /home/user/data/Systemlogs:/var/log/auth
      - /home/user/data/Terminal-Recordings:/tmp/.systemd-private
    deploy:
      resources:
        limits:
          cpus: '0.50'
          memory: 512M
        reservations:
          cpus: '0.25'
          memory: 256M
    restart: unless-stopped
    cap_add:
      - NET_ADMIN
    logging:
      driver: "none"
