# Honeypot SSH Config

# Basis-Einstellungen
Port 22
PermitRootLogin yes
PasswordAuthentication yes
ChallengeResponseAuthentication no
UsePAM yes

# WICHTIG: ForceCommand für manipulationssichere Aufzeichnung
ForceCommand /opt/myscripts/session_wrapper.sh

# Logging
SyslogFacility AUTH
LogLevel INFO

# Sicherheit 
PermitEmptyPasswords no
X11Forwarding yes
PrintMotd no
AcceptEnv LANG LC_*

# Subsystem für SFTP
Subsystem sftp /usr/lib/openssh/sftp-server -l INFO